.container {
    
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    width: 100%;
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo {
    margin-right: 3rem;
}


.menu {
    width: 60%
}

.hamburgerIcon {
    display: none;
}

.navitems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: content;
    flex-wrap: wrap;
    flex-grow: 0.7;
    padding: 5px;
}

.navItem {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #484848;
    text-transform: uppercase;
    cursor: pointer;
    flex-grow: 1.2;
}

.active {
    color: #B23F62;
}

.contactme {
    background-color: #FFE8E8;
    padding: 8px 16px;
    border-radius: 12px;
    color: #B23F62;
}

.body {
    background-color: #FAFAFA;
}

.footer {
    width: 100%;
    height: 196px;
    background-color: #EAF2FA;
    color: #767676;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.385714px;
    margin-top: 50px;
}

.textBlack80 {
    color: #484848
}

.backToHome {
    margin: 3rem 0 0;
}

.mobileMenu {
    display: none;
}

@media all and (max-width: 950px) {

    .btnLang{
        display: none;
    }
    .nav {
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        flex-direction: row-reverse;
    }

    .navitems {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 70%;
        margin-top: 94px;

    }

    .hamburgerIcon {
        display: inline-block;
        cursor: pointer;
        margin-left: 2rem;
    }

    .menu {
        display: none;
    }
    
    .mobileMenu {
        
        display: none;
    }
    
    .showMobileMenu {
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: #FFE8E8;
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        animation: slideright 0.3s;
    }

    @keyframes slideright {
        from {
            left: -1000px;
        }
        to {
            left: 0;
        }
    }

    .logo {
        margin-right: 2rem;
    }

}