.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav {
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.navitems {
    width: calc(100% - 11%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navItem {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #484848;
    text-transform: uppercase;
    cursor: pointer;
}

.active{
    color: #B23F62;
}

.contactme {
    background-color: #FFE8E8;
    padding: 8px 16px;
    border-radius: 12px;
    color: #B23F62;
}

.body{
    background-color: #FAFAFA;
}

.footer {
    width: 100%;
    height: 196px;
    background-color: #EAF2FA;
    color: #767676;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.385714px;
    margin-top: 50px;
}

.textBlack80 {
    color: #484848
}

.backToHome {
    margin: 3rem 0 0;
}

@media all and (max-width: 800px) {

 .navitems {
    width: 100%;
    flex-wrap: wrap;
 }
}