.content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}
.title {
    color: #B23F62;
    font-weight: 700;
}

.subtitle {
    color: #B23F62;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.workplace {
    color: #1A1A1A;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}


.textInfo {
    color: #484848;
    line-height: 36px;
}

.list {
    list-style: initial;
}

.btnResume {
    width: 284px;
    height: 62px;
    padding: 16px 28px;
    gap: 16px;
    background: #B23F62;
    border-radius: 12px;
    color: #FFE8E8;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
}