.content{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

.abouColumnParagraph {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    justify-content: space-between;
  }
  
  .aboutText {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.385714px;
    color: #767676;
  }
  
  .firstText {
    width: 80%;
  }
  
  .aboutsecondParagraph {
    margin-top: 30px;
  }
  
  .abouColumnContactBox {
    width: 45%;
    margin-top: 30px;
    background: #FFE8E8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .contactRow{
    margin-top: 20px;
  }
  
  .contactLabel {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 6.33143px;
    text-transform: uppercase;
    color: #484848;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  
  .contactInfo {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.385714px;
    color: #1A1A1A;
  }
  
  .aboutLastParagraph{
    width: 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media all and (max-width: 1200px) {

    
    .contactLabel{
      font-size: 12px;
    }
    .contactInfo {
      font-size: 16px;
    }
  }

  @media all and (max-width: 800px) {
    .abouColumnParagraph{
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .firstText {
      width: 100%;
    }

    .abouColumnContactBox {
      width: 100%;
    }
  }