html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.margin-left-1{
  margin-left: 1rem;
}
.margin-left-2{
  margin-left: 2rem;
}
.margin-left-3{
  margin-left: 3rem;
}
.margin-left-4{
  margin-left: 4rem;
}
.margin-top-1{
  margin-top: 1rem;
}
.margin-top-2{
  margin-top: 2rem;
}
.margin-top-3{
  margin-top: 3rem;
}
.margin-top-4{
  margin-top: 4rem;
}

.marginRight3{
  margin-right: 1.5rem;
}

