

.introduction {
  height: 406px;
  background: linear-gradient(174.02deg, rgba(242, 242, 242, 0.35) 11.2%, rgba(242, 242, 242, 0.6) 62.91%,
      rgba(255, 255, 255, 0.7) 98.01%,
      #F2F2F2 107.83%),
    linear-gradient(180deg, rgba(255, 232, 232, 0.2) 51.56%, rgba(234, 242, 250, 0.2) 87.5%), 
    linear-gradient(90deg, rgba(255, 232, 232, 0.54) 12.5%, #EAF2FA 37.5%, #EAF2FA 58.85%, #FFE8E8 93.2%);
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.introductionContent {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.presentationHeader {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #484848;

}

.column {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goodToSee {
  font-size: 24px;
}

.btnResume {
  width: 251px;
  height: 62px;
  background: #B23F62;
  border-radius: 12px;
  color: #FFE8E8;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButtons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.workImages {
  display: flex;
  justify-content: center;
}

