.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    color: #1A1A1A;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .marginRight3{
    margin-right: 1.5rem;
  }

  .content {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
  }

  .sectionColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
  }
  
  .sectionColumnDetail {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .pills {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  
  .webpill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    gap: 10px;
    width: 79px;
    height: 37px;
    border-radius: 20px;
    color: #144F8A;
    background-color: #EAF2FA;
  }
  
  .mobilepill {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    gap: 10px;
    width: 79px;
    height: 37px;
    border-radius: 20px;
    color: #B23F62;
    background-color: #FFE8E8;
  }
  
  .otherpill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    gap: 10px;
    height: 37px;
    border-radius: 20px;
    color: #484848;
    background-color: #E8E8E8;
  }